.select-li {
  display: flex;
  color: wheat;
}

.dropdown-arrow {
  width: 18px;
  height: auto;
}

.select-btn {
  border: solid 1.5px var(--secondary-color);
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  width: 250px;
  margin: 0px 20px;
  height: auto;
  background: none;
  padding: 1rem;
  font-size: 18px;
  color: wheat;
  font-family: var(--font-family-1);
  font-weight: 600;
}

.select-btn:hover {
  cursor: pointer;
  border: solid 1.5px wheat;

  outline: none;
}

.arrow-dwn {
  display: flex;
  align-items: flex-end;
}

.cb-container {
  cursor: pointer;
  width: 20px;
  color: white;
  height: 20px;
}

.cb-container input {
  display: none;
}

.cb-container svg {
  overflow: visible;
}

.path {
  fill: none;
  stroke: wheat;
  stroke-width: 6;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
  stroke-dasharray: 241 9999999;
  stroke-dashoffset: 0;
}

.cb-container input:checked ~ svg .path {
  stroke-dasharray: 70.5096664428711 9999999;
  stroke-dashoffset: -262.2723388671875;
}

.select-div {
  display: flex;
  align-items: center;
  margin-right: 50px;
  padding-left: 10px;
}

.select-text {
  font-size: 22px;
  font-family: var(--font-family-1);
  font-weight: 600;
  color: wheat;
  margin: 0 0 0 15px;
}

.list-items {
  width: 300px;
  height: 100px;
  position: absolute;
  background: wheat;
  overflow-y: scroll;
  border: 1.5px solid var(--secondary-color);
  border-radius: 15px 5px 5px 15px;
  margin: 5px 0 0 0;
  padding: 10px;
  display: none;
  -webkit-border-radius: 15px 5px 5px 15px;
  -moz-border-radius: 15px 5px 5px 15px;
  -ms-border-radius: 15px 5px 5px 15px;
  -o-border-radius: 15px 5px 5px 15px;
}

.fullheight {
  height: 200px;
}

.select-btn.open .dropdown-arrow {
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
}

.select-btn.open ~ .list-items {
  display: block;
}

.select-li {
  display: flex;
  padding: 2.5px 0;
  margin: 5px 0;
  height: 40px;
  align-items: center;
  border-radius: 10px;
}

.select-li:hover {
  background: var(--secondary-color);
}

.list-items::-webkit-scrollbar {
  width: 7px;
}

.list-items::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.list-items::-webkit-scrollbar-track {
  border-radius: 10px;
  background: var(--secondary-color);
}

/* 
.dropdown {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
  }
  
  a {
    color: #fff;
  }
  
  .dropdown dd,
  .dropdown dt {
    margin: 0px;
    padding: 0px;
  }
  
  .dropdown ul {
    margin: -1px 0 0 0;
  }
  
  .dropdown dd {
    position: relative;
  }
  
  .dropdown a,
  .dropdown a:visited {
    color: #fff;
    text-decoration: none;
    outline: none;
    font-size: 12px;
  }
  
  .dropdown dt a {
    background-color: #4F6877;
    display: block;
    padding: 8px 20px 5px 10px;
    min-height: 25px;
    line-height: 24px;
    overflow: hidden;
    border: 0;
    width: 272px;
  }
  
  .dropdown dt a span,
  .multiSel span {
    cursor: pointer;
    display: inline-block;
    padding: 0 3px 2px 0;
  }
  
  .dropdown dd ul {
    background-color: #4F6877;
    border: 0;
    color: #fff;
    display: none;
    left: 0px;
    padding: 2px 15px 2px 5px;
    position: absolute;
    top: 2px;
    width: 280px;
    list-style: none;
    height: 100px;
    overflow: auto;
  }
  
  .dropdown span.value {
    display: none;
  }
  
  .dropdown dd ul li a {
    padding: 5px;
    display: block;
  }
  
  .dropdown dd ul li a:hover {
    background-color: #fff;
  }
  
  button {
    background-color: #6BBE92;
    width: 302px;
    border: 0;
    padding: 10px 0;
    margin: 5px 0;
    text-align: center;
    color: #fff;
    font-weight: bold;
  } */
