.employee-card {
  width: 350px;
  height: 180px;
  background-color: var(--secondary-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 10px 20px 20px 20px;
  margin-bottom: 20px;
  position: relative;
}

/* .employee-card:hover {
    cursor: pointer;
} */

.employee-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.employee-header-left {
  display: flex;
  flex-direction: row;
}

.card-rect {
  width: 4px;
  height: 45px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: var(--primary-color);
}

.name-location-div {
  margin-left: 10px;
}

.employee-name,
.location,
.status-text,
.status,
.email-heading,
.email-value,
.team-heading,
.team-value,
.phonenumber-heading,
.phonenumber-value,
.employee-id-heading,
.employee-id-value {
  font-family: var(--font-family-1);
  /* color: var(--text-color); */
}

.employee-name {
  font-weight: 600;
  font-size: 20px;
  color: var(--text-color);
}

.location {
  font-weight: 500;
  font-size: 16px;
  color: var(--text-color);
}

.employee-header-right {
  display: flex;
}

.status-text {
  font-size: 18px;
  color: var(--text-color);
  margin-right: 10px;
}

.status {
  font-size: 14px;
  color: var(--text-color);
}

.toggle-button-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.toggle-button {
  margin: 0 auto;
}

.first-wrapper,
.second-wrapper {
  display: flex;
  margin-top: 15px;
  position: relative;
}

.left-wrapper,
.right-wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.email-heading {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 600;
    max-width: 300px;
    width: 300px;
    word-wrap: break-word;
  }

.phonenumber-heading {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 600;
  max-width: 150px;
  width: 150px;
  word-wrap: break-word;
}


.phonenumber-value {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
  padding-left: 5px;
  opacity: 0.8;
  height: 20px;
  max-width: 120px;
  width: 120px;
  word-wrap: break-word;
}

.email-value {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 400;
    padding-left: 5px;
    opacity: 0.8;
    max-width:240px;
    height: 20px;
    width: 240px;
    word-wrap: break-word;
  }

.team-heading,
.employee-id-heading {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 600;
  max-width: 150px;
  height: 20px;
  width: 150px;
  word-wrap: break-word;
}

.team-value,
.employee-id-value {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
  padding-left: 5px;
  opacity: 0.8;
  max-width: 150px;
  height: 20px;
  width: 150px;
  word-wrap: break-word;
}

.customise-div{
    display: flex;
    width: 100px;
    height: 40px;
    justify-content: space-around;
    position: absolute;
}

.edit-button-div, .delete-button-div{
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
    border-radius: 5px 5px 0 0;
    justify-content: center;
    width: 40px;
    cursor: pointer;
    height: 40px;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
}

.delete-button-div{
  border-radius: 5px 5px 5px 0;
  -webkit-border-radius: 5px 5px 5px 0;
  -moz-border-radius: 5px 5px 5px 0;
  -ms-border-radius: 5px 5px 5px 0;
  -o-border-radius: 5px 5px 5px 0;
}

.edit-user, .delete-user{
    width: 22px;
    height: 22px;
}

.first-div{
  position: absolute;
}

.second-div{
    position: relative;
    width: 300px;
    height: 130px;
    display: none;
    align-items: end;
    justify-content: end;
    transform:translate(35px, 40px) ;
    -webkit-transform:translate(35px, 40px) ;
    -moz-transform:translate(35px, 40px) ;
    -ms-transform:translate(35px, 40px) ;
    -o-transform:translate(35px, 40px) ;
}

.employee-card:hover .second-div{
  display: flex;
}