.navbar {
  top: 0;
  position: fixed;
  z-index: 9;
  height: 10vh;
  width: 100vw;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 120px;
  height: 40px;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}
