.input-group {
  position: relative;
}

.input2 {
  border: solid 1.5px var(--secondary-color);
  border-radius: 10px;
  width: 300px;
  background: none;
  padding: 1rem;
  font-size: 18px;
  color: var(--text-color);
  font-family: var(--font-family-1);
  font-weight: 600;
  -webkit-transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.user-label {
  position: absolute;
  left: 15px;
  font-weight: 600;
  color: var(--text-color);
  font-family: var(--font-family-1);
  pointer-events: none;
  -webkit-transform: translateY(1rem);
  -ms-transform: translateY(1rem);
  transform: translateY(1rem);
  -webkit-transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 2px;
}

.input2:focus,
.input2:valid {
  outline: none;
  border: 1.5px solid var(--primary-color);
}

.input2:focus ~ label,
.input2:valid ~ label {
  -webkit-transform: translateY(-50%) scale(0.8);
  -ms-transform: translateY(-50%) scale(0.8);
  transform: translateY(-50%) scale(0.8);
  background-color: #191a19;
  padding: 0 0.2em;
  color: var(--primary-color);
}

.error-input {
  outline: none;
  border: 1.5px solid red !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
