* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --font-family-1: "Quicksand", sans-serif;
  --background-color: #1c1c16;
  --primary-color: #48482d;
  --secondary-color: #2d2d1e;
  --text-color: #e6e4bf;
  --grey: #c5c3b2;
  /* border: 1px solid red; */
}

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
/* @font-face {
  font-family:  var(--font-family-1);
  src: url(./font/Product-Sans-Regular.ttf) format("ttf") ;
} */

#root {
  background-color: var(--background-color);
  /* height: 100vh; */
  height: auto;

  /* overflow: scroll; */
}

.login-screen {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 380px;
  height: fit-content;
  padding: 20px 0;
  background: var(--primary-color);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.header {
  width: 380px;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  font-family: var(--font-family-1);
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 22px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-button {
  margin: 10px auto;
  width: 100px;
  background-color: var(--secondary-color);
  outline: none;
  border: none;
  height: 45px;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 2px;
  font-family: var(--font-family-1);
  color: var(--text-color);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.mainContainer {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  width: 1100px;
  margin-left: 14vw;
  overflow: hidden;
  background-color: var(--background-color);
  justify-content: space-between;
}
.heading {
  font-size: 50px;
  color: #d6d6cc;
}
.rightContainer {
  width: 50vw;
}
.eList {
  font-size: 15px;
  padding: 10px;
  height: auto;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  background-color: var(--primary-color);
}

th {
  border: 1px solid #dddddd;
  text-align: left;
  color: var(--text-color);
  padding: 8px;
}
td {
  color: #ddd;
  border: 1px solid #dddddd;
  width: 5%;
}

tr:nth-child(even) {
  background-color: #443c3c;
}
.mContainer {
  display: flex;
  min-height: 100vh;
  height: 100%;
  padding: 50px 50px;
}
.leftContainer {
  width: 50vw;
  padding: 0px 10px;
}

.topChoice {
  display: flex;
  width: 100%;
  overflow: hidden;
  justify-content: space-around;
  align-items: center;
}
.topMsgDiv {
  display: flex;
  /* justify-content: center; */
  width: 100%;
  position: relative;
  align-items: center;
  /* width: 100%; */
}
.datepicker {
  display: flex;
  padding: 15px;
  margin-left: 20px;
  background-color: var(--primary-color);
  font-weight: 900;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  color: var(--text-color);
}
.main-wrapper {
  width: 100%;
  height: auto;
  background-color: var(--background-color);
}

.dateCalander {
  display: flex;
  margin-right: 20px;
  align-items: center;
  justify-content: center;
}
.main-content {
  width: 100vw;

  background-color: var(--background-color);
}
.leftSideLunch {
  width: 50%;
}
.rightsideDinner {
  width: 50%;
  padding: 0px 10px;
}
.topmenuItems {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  /* border: 2px solid blue; */
}
.topmenubar {
  flex-direction: column;
}

.topmenubar > input {
  padding: 10px;
  margin: 2px;
  border: none;
  border-radius: 5px;
}
.foodContent {
  display: flex;
  width: 100%;
}
.buttondiv {
  display: flex;
}
.bottom-link {
  text-align: center;
}
